.hap-music-player,
.hap-music-player * {
    line-height: normal;
}
.hap-music-player{
    direction: ltr;
}
.hap-music-player{
    position: relative;
    max-width: none;
    margin:0 auto;
}

[dir=rtl] .hap-playlist-item-wrap{
    direction: rtl;
}

/* share */

.hap-share-container{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    margin-bottom: 10px;
}
.hap-share-item{
    position:relative;
    width:40px;
    height:40px;
    text-align: center;
    float: left;
    margin-right: 5px;
    flex-shrink: 0;
}

.hap-share-item[data-type="facebook"] svg{
    color: #3b5998!important;
}
.hap-share-item[data-type="twitter"] svg{
    color: #00aced!important;
}
.hap-share-item[data-type="tumblr"] svg{
    color: #34526f!important;
}
.hap-share-item[data-type="whatsapp"] svg{
    color: #25D366!important;
}
.hap-share-item[data-type="linkedin"] svg{
    color: #007bb6!important;
}
.hap-share-item[data-type="reddit"] svg{
    color: #FF4301!important;
}
.hap-share-item[data-type="digg"] svg{
    color: #005be2!important;
}
.hap-share-item[data-type="pinterest"] svg{
    color: #cb2027!important;
}


/* range */

.hap-range-handle-a,
.hap-range-handle-b{
    position: absolute;
    width: 0;
    height: 20px;
}
.hap-range-handle-a{
    left: 0;
}
.hap-range-handle-b{
    right: 0;
    top: -20px;
}
.hap-range-handle-a-hit{
    position: absolute;
    top: 5px;
    left:0; 
    cursor: grab;
    transition: color 0.3s ease-out;
    width: 0;
    height: 0;
    border-bottom: 30px solid;
    border-right: 30px solid transparent;
}
.hap-range-handle-b-hit{
    position: absolute;
    top: -10px;
    right:0; 
    cursor: grab;
    transition: color 0.3s ease-out;
    width: 0;
    height: 0;
    border-top: 30px solid;
    border-left: 30px solid transparent;
}
.hap-range-handle-a-hit-bg,
.hap-range-handle-b-hit-bg{
    position: absolute;
    width: 40px;
    height: 30px;
    background: red;
    opacity: 0;
}
.hap-range-handle-a-hit-bg{
    left: -5px;
    top: 0;
}
.hap-range-handle-b-hit-bg{
    left: -35px;
    top: -31px;
}
.hap-range-wrap{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.hap-range-min-time,
.hap-range-max-time{
    font-size: 13px;
    pointer-events: none;
    user-select:none;
    width: 75px;
}
.hap-range-min-time{
    text-align: end;
    padding-right: 5px;
}
.hap-range-max-time{
    padding-left: 5px;
}
.hap-range-seekbar{
    max-width:400px;
    width: calc(100% - 100px);
    height:30px;
    position: relative;
    touch-action: none;
}
.hap-range-bg{
    position:absolute;
    top:14px;
    left:10px;
    width:calc(100% - 20px);
    height:1px;
}
.hap-range-level{
    position:absolute;
    top:0;
    left:0;
    right: 0;
    height:100%;
}
.hap-range-drag{
    position: relative;
    top:-9px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    -webkit-transform: scale( 0.5 );
    transform: scale( 0.5 );
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;    
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
    float: right;
    margin-right: -9px;
}
.hap-range-drag:hover,
.hap-range-drag:active {
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* embed */
.hap-embed-holder{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    z-index: 10;
    display: none;
    max-width: 500px;
    width: 100%;
    max-height: 200px;
    height: 100%;
}
.hap-embed-holder-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;  
    width: 80%;
    height: 90%;
}
.hap-embed-data{
    width: 100%;
    height: 100%;
    position: relative;
}
.hap-embed-box{
    display: flex;
}
.hap-embed-field-wrap{
    display: flex;
    align-items: center;
    position: relative;
    margin:0;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-size: 12px;
    padding: 5px;
    color: #999;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
}
.hap-embed-title{
    font-size: 18px;
    margin: 10px 0;
    color: #efefef;
}
.hap-share-copy,
.hap-embed-copy{
    display: inline-block;
    padding: 8px 12px!important;
    font-size: 13px;
    cursor: pointer;
    float: right;
    align-self: flex-start;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
    background: #fff;
    color: #555;
    border-radius: 3px;
    transition: opacity 0.3s ease-out; 
}






/* embed */
.hap-pwd-holder{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    z-index: 10;
    display: none;
    max-width: 500px;
    width: 100%;
    max-height: 150px;
    height: 100%;
}
.hap-pwd-holder-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;  
    width: 80%;
    height: 90%;
}
.hap-pwd-data{
    position: relative;
    max-width: 350px;
    width: 100%;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
}
@media (max-width: 400px) { 
    .hap-pwd-data{
        max-width: 90%;
    }
}
.hap-pwd-inner{
    position: relative;
    height: 100%;
    box-sizing: border-box;
}
.hap-pwd-box{
    display: flex;
}
.hap-pwd-field-wrap{
    position: relative;
    margin:0;
    line-height: 1.2;
    word-wrap: break-word;
    width: 100%;
}
.hap-pwd-field{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%!important;
    width: 100%!important;
    padding: 0 0 0 5px!important;
    font-size: 13px!important;
    margin: 0!important;
    box-shadow: none!important;
    line-height: 1!important;
    box-sizing: border-box;
    -webkit-text-security: disc;
}
.hap-pwd-field[type=password]{
    background: rgba(0,0,0,0)!important;
    border-radius: 3px!important;
    border: 1px solid #e6e6e6!important;
    margin: 0!important;
    color: #999;
}
.hap-pwd-field::placeholder { 
    color: inherit!important;
}
.hap-pwd-title{
    font-size: 18px;
    margin: 10px 0;
    color: #222;
}

.hap-pwd-info{
    font-size: 11px;
    margin: 5px;
    display: flex;
    color: #aaa;
}
.hap-pwd-confirm{
    display: inline-block;
    padding: 8px 14px!important;
    font-size: 14px;
    cursor: pointer;
    float: right;
    align-self: flex-start;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
    line-height: 1.2;
    background: #f3f3f3;
    color: #656565;
    border-radius: 3px;
    transition: opacity 0.3s ease-out; 
}
.hap-pwd-confirm:hover{
    opacity: 0.7;
}
.hap-pwd-error{
    display: none;
}

.hap-lyrics-toggle{
    display: none;
}
.hap-video-toggle{
    display: none;
}






/* dialog */

.hap-dialog-header{
    position: relative;
    height: 40px;
    width: 100%;
    background: #666;
}
.hap-dialog-header-drag{
    position: relative;
    height: 100%;
    width: calc(100% - 40px);
    touch-action: none;
}
.hap-dialog{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    background-color: #fff;
    box-shadow: rgb(135 135 135 / 32%) 0px 0px 11px;
}
.hap-dialog-content{
    position: relative;
    /*top: -1px;*/
}
.hap-playback-rate-holder,
.hap-share-holder{
    position: fixed;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    z-index: 10;
    display: none;
}
.hap-playback-rate-holder{
    height: 70px;
}
.hap-share-holder{
    height: 130px;
}
.hap-range-holder{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    z-index: 10;
    display: none;
    max-width: 550px;
    width: 100%;
    height: 90px;
}
.hap-pwd-close,
.hap-embed-close,
.hap-playback-rate-close,
.hap-share-close,
.hap-range-close{
    position: absolute!important;
    width: 34px!important;
    height: 34px!important;
    top: 0!important;
    right: 0!important;
}
.hap-share-holder{
    max-width: 500px;
    width:100%;
}
.hap-share-holder-inner{
    padding: 20px 40px 20px 20px;
}
.hap-playback-rate-close i,
.hap-embed-close i,
.hap-share-close i,
.hap-pwd-close i,
.hap-range-close i,
.hap-dialog-close i{
    font-size: 18px;
}
.hap-dialog-close{
    position: absolute!important;
    width: 40px!important;
    height: 40px!important;
    top: 0!important;
    right: 0!important;
}
.hap-dialog-close svg{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    fill: currentColor;
    transition: color .1s ease-out;
    color: #fff!important;
}
.hap-dialog-close:hover svg{ 
    color: #fff!important;
}









/* playback rate */

.hap-playback-rate-wrap{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.hap-playback-rate-min,
.hap-playback-rate-max{
    font-size: 16px;
    margin: 0 5px;
    pointer-events: none;
}
.hap-playback-rate-holder{
    width: 350px;
}
.hap-playback-rate-seekbar{
    width:200px;
    height:30px;
    position: relative;
    cursor: pointer;
    touch-action: none;
}
.hap-playback-rate-bg{
    position:absolute;
    top:15px;
    left:10px;
    width:180px;
    height:1px;
}
.hap-playback-rate-level{
    position:absolute;
    top:0;
    left:0;
    height:100%;
}
.hap-playback-rate-drag{
    position: relative;
    top:-9px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    -webkit-transform: scale( 0.5 );
    transform: scale( 0.5 );
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;    
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
    float: right;
    margin-right: -9px;
}
.hap-playback-rate-drag:hover,
.hap-playback-rate-drag:active {
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* tooltip */

.hap-tooltip{
    position:absolute;
    text-align:center;
    z-index:10000;
    pointer-events:none;
    display:none;
    font-size:12px!important;
    padding:2px 5px !important;
    line-height:20px !important;
    white-space:nowrap;
}


.hap-preloader {
    position:absolute;
    top:50%;
    left:50%;
    pointer-events: none;
    width: 40px;
    height: 40px;
    margin-left:-20px;
    margin-top:-34px;
    -webkit-animation: hap_preloader 1.2s infinite ease-in-out;
    animation: hap_preloader 1.2s infinite ease-in-out;
}

.hap-grid .hap-preloader {
    position: relative;
    top: auto;
    margin-top: auto;
}

@-webkit-keyframes hap_preloader {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes hap_preloader {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.hap-visible {
    opacity: 1!important;
    transition: opacity 500ms ease-out;
}
.hap-invisible {
    opacity: 0!important;
    transition: opacity 500ms ease-out;
}

.hap-music-player-force-hidden{
    opacity: 0!important;
    pointer-events:none!important;
    display: none;
}
.hap-force-hidden{
    display: none!important;
}

.hap-playlist-inner .mCSB_inside > .mCSB_container {
    margin-right: 30px;
}
.hap-mCSB_full{/* hide scroll area when no scroll */
    margin-right: 0!important;
}

/* perfect scrollbar */
.hap-playlist-inner.ps{
    /*margin: 20px 20px 20px 0;*/
}


/* lyrics popup */
.hap-lyrics-holder{
    min-width: 200px;
    min-height: 200px;
    width: 350px;
    display: none;
}
.hap-lyrics-holder .hap-dialog-content{
    padding-bottom: 35px;
    box-sizing: content-box;
}
.hap-lyrics-holder .hap-dialog-header-drag{
    display: flex;
    align-items: center;
}
.hap-lyrics-autoscroll-label{
    color: #fff;
    font-size: 16px;
    position: absolute;
    cursor: pointer;
    left: 25px;
    top: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hap-lyrics-autoscroll{
    margin-top: 0!important;
    margin-left: 0!important;
    margin-bottom: 0!important;
    margin-right: 5px!important;
    width: 13px!important;
    height: 13px!important;
    border: 0!important;
    appearance: checkbox !important;
}
.hap-lyrics-autoscroll:after {
    display: none!important;
}

.hap-lyrics-wrap{
    position: relative;
    overflow-y: auto;
    padding: 0 25px;
    height: 300px;
    min-height: 150px;
}
.hap-lyrics-container{
    white-space: pre-wrap;
    font-size: 16px;
    margin: 1em 0;
    line-height: 1.5em;
}
.hap-dialog-resizable{
    position: absolute;
    width: 25px;
    height: 22px;
    padding: 5px 2px;
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
    z-index: 7777;
    background: transparent url(resize.png) no-repeat center center;
    touch-action: none;
}
.hap-lyrics-item {
    min-height: 1.5em;
    cursor: pointer;
    color: #111;
}
.hap-lyrics-item-active,
.hap-lyrics-item:hover{
    background: #ff6;
}
.hap-lyrics-wrap::-webkit-scrollbar {
    width: 16px; 
    height: 16px; 
}
.hap-lyrics-wrap::-webkit-scrollbar-thumb {
    background:#999;
}
.hap-lyrics-wrap::-webkit-scrollbar-track {
    background:#e6e6e6;
}


.hap-red{
    color:red;
}

/* video */

.hap-video-wrap{
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 180px;
    display: flex;
    background: #111;
}
.hap-video{
    width: 100%!important;
    max-height: 100%!important;
    visibility: visible!important;
    max-width: none;
}
.hap-video-holder .hap-dialog-content{
    padding-bottom: 35px;
    box-sizing: content-box;
}
.hap-video-blocker{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}




.hap-youtube-holder,
.hap-iframe-blocker{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}   
.hap-media{
    width: 100%;
    height: 100%;
    position:absolute;
    user-select: none;
    visibility: visible;
    top:0;
    left:0;
    max-width:none!important;
}


/* statistics */
.hap-stats{
    height: 100%;
    line-height: 1;
    display: flex;
    justify-content:space-around;
    min-width:200px;
}
.hap-play-count,
.hap-like-count,
.hap-download-count{
    display: flex;
    flex: 1;
    box-shadow: none;
    cursor:pointer;
    border: none;
    margin: 0 10px;
    align-items: center;
    color: inherit;
    text-decoration: none!important;
}
.hap-stats svg{
    width:25px;
    height:15px;
    text-align: center;
    fill:currentColor;
}
.hap-stats span{
    margin:0!important;
    padding:0!important;
    font-size:12px!important;
    pointer-events:none;
    flex-shrink:0;
}



/* playlist item */

.hap-playlist-default .hap-playlist-item{
    position: relative;
    top:0px;
    left:0px;
    font-size:16px;
    box-sizing: border-box; 
    overflow: hidden;
    padding: 13px 0;
}

.hap-playlist-default .hap-playlist-item-wrap {
    flex:1;
    display:flex;
}

.hap-playlist-default .hap-playlist-item-content {
    flex:1;
    display:flex;
    align-items:center;
    overflow: hidden;
    margin-right: 10px;
}
[dir=rtl] .hap-playlist-default .hap-playlist-item-content {
    margin-right: 0;
    margin-left: 10px;
}
.hap-playlist-default .hap-playlist-thumb{
    cursor: pointer;
    position:relative;
    top:0px;
    left:0px;
    height:40px;
    width: 40px;
    flex-shrink: 0;
    overflow:hidden;
    margin-right: 10px;
}
.hap-playlist-default .hap-playlist-thumb .hap-thumbimg{
    position:relative;
    top:0px;
    left:0px;
    display:block;
    height:100%;
    width: 100%;
    max-width: none!important;
    opacity: 0;
    -webkit-backface-visibility: hidden;
}
.hap-playlist-default .hap-playlist-info{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    margin-right: 10px;
}
.hap-playlist-default .hap-playlist-info2{
    position: relative;
    margin-left: auto;
    flex-shrink:0;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    text-align: right;
}
.hap-playlist-default .hap-playlist-title-wrap{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}
.hap-playlist-default .hap-playlist-title-wrap .hap-playlist-title,
.hap-playlist-default .hap-playlist-title-wrap .hap-playlist-artist{
    display: inline;
}



.hap-playlist-default .hap-playlist-icons{
    display:flex;
    margin-left: auto;
}
.hap-playlist-item-multiline .hap-playlist-item-wrap{
    flex-direction:column;
}
.hap-playlist-item-multiline .hap-playlist-title-wrap{
    display: block;
}
.hap-playlist-item-multiline .hap-playlist-icons{
    margin-top: 10px;
}

.hap-playlist-grid .hap-playlist-icons{
    display:flex;
}


/* read more */

.hap-playlist-description-read-more-btn{
    color: #ddd;
    cursor: pointer;
    white-space: nowrap;
}
.hap-playlist-description-read-more-btn:hover{
    text-decoration-line: underline;
}
.hap-playlist-description-read-more-text{
    transition: height 0.5s ease-out;
}
.hap-playlist-description-read-more-text-hidden{
    display: none;
    height: 0;
}


.hap-playlist-icon,
.hap-download, .hap-link{
    text-align: center;
    min-width: 20px;
    margin: 0 5px;
    border: 0!important;
    box-shadow: none!important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-decoration: none;
}

/* playlist filter */

.hap-playlist-filter-msg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.hap-playlist-filter::placeholder { 
    color: inherit!important;
}
.hap-playlist-filter-msg span{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

/* search */
.hap-search-filter { 
    font-size: 13px!important;
    min-height: 0!important;
}
.hap-search-filter::placeholder { 
    color: inherit!important;
}


.hap-playlist-options{
    display: none!important;
}




/* accordion */

.hap-accordion-item-title{
    position: relative;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.hap-accordion-item-description{
    padding: 9px;
    display: inline-block;
    font-size: 14px;
}
.hap-accordion-item-content{
    height: 0;
    overflow: hidden;
    transition: height .5s; 
}
.hap-accordion-item-content-search{
    height: auto!important;
}
            
.hap-accordion-item-content .hap-playlist-item{
    padding: 10px;
}
.hap-playlist-inner.hap-accordion{
    max-height: none!important;
}


/* stats display frontend */

.hap-stat-wrap{
    background: #fff;
    padding: 20px; 
}
.hap-stat-wrap-header{
    text-align: center;
    background: #0073aa;
    color: #fff;
    text-transform: uppercase;
}
.hap-stat-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hap-stat-item-thumb-wrap{
    width: 50px;
    margin-right: 10px;
    padding: 5px;
    position: relative;
}
.hap-stat-item-thumb{

}
.hap-stat-item-thumb img{
    width: 100%;
}
.hap-stat-item-title a{
    text-decoration: none;
    border: 0;
    box-shadow: none;
}
.hap-stat-item-title a:hover{
    text-decoration: underline;
}
.hap-stat-item-play-count{
    margin-left: 5px;  
    font-style: italic;
}
.hap-stat-item-active .hap-equaliser-container{
     opacity: 1;
}




/*  playlist display frontend */

.hap-playlist-display-header{
    font-size: 28px;
    text-align: center;
}
.hap-playlist-display-wrap-inner{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.hap-playlist-display-item{
    position: relative;
    overflow: hidden;
    margin: 3px;
    text-align: center;
    max-width: 300px;
    background: #fff;
}
.hap-playlist-display-item-inner{
    position: relative;
}
.hap-playlist-display-item-thumb{
    display: block;
    margin:0 auto;
    cursor: pointer;
    min-width: 100%;
}
.hap-playlist-display-item-inner:after{
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 40px;
    border-color: transparent transparent transparent rgba(255,255,255,.3);
    transform: translateX(-50%) translateY(-50%);
}
.hap-playlist-display-item-active .hap-playlist-display-item-inner:after,
.hap-playlist-display-item:hover .hap-playlist-display-item-inner:after{
    border-color: transparent transparent transparent rgba(255,255,255,.8);
    transition: all .2s ease-in; 
}
.hap-playlist-display-item-playing{
    position: absolute;
    bottom: 1px;
    right: 1px;
    color: #fff;
    font-size: 13px;
    padding: 0px 5px;
    background: #00bcd4;
    display: none;
}
.hap-playlist-display-item-active .hap-playlist-display-item-playing{
    display:block;
}
.hap-playlist-display-item-title{
    color: #666;
    text-align: center;
    font-size: 20px;
}
.hap-playlist-display-item-description{
    margin: 10px;
    color: #999;
    font-size: 14px;
}



/*pagination */

.hap-pagination-wrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.hap-pagination-container {
    position: relative;
    padding: 10px 0;
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.hap-pagination-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-left: 10px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #e2e6e6;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #616872;
    border-radius: 4px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.hap-pagination-currentpage{
    cursor: default!important;
}
.hap-pagination-dots{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-left: 10px;
    box-sizing: border-box;
}
.hap-pagination-next, 
.hap-pagination-prev {
    text-transform: uppercase;
}
.hap-pagination-page:hover,
.hap-pagination-currentpage {
    background-color: #518acb;
    color: #fff;
}
.hap-pagination-hidden{
    display: none!important;
}


/* load more button */

.hap-load-more-btn{
    display: inline-block;
    padding: 10px 50px;
    font-size: 15px;
    position: relative;
    text-align: center;
    margin: 20px 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease-out;
    text-transform: uppercase;
    align-self: flex-start;
    background: #898989;
    color: #fff;
}
.hap-load-more-btn:hover{
    background-color: #565e72;
}

#hap-playlist-list{
    display: none;
}

/* inline seekbar */

.hap-inline-seekbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    overflow: hidden;
}
.hap-inline-seekbar-bg{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #aaa;
}
.hap-inline-seekbar-progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    background: #e4c000;
    transition: width 100ms linear;
}

.hap-playlist-icon {
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Regular', 'Font Awesome 5 Brands', 'Arial';
    font-size: 18px;
    font-weight: 900;
    min-width: 20px;
    border: 0!important;
    box-shadow: none!important;
    text-decoration: none!important;
}





.hap-playlist-icon svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 18px;
    fill:currentColor;
    transition: color .1s ease-out;
}


/* selectize */
.hap-selectize{
    margin-bottom: 10px;
}
.selectize-control{
    width: 100%;
}
.hap-selectize-option{
    display: flex!important;
    flex-direction: row!important;
}
.hap-selectize-image{
    flex-shrink: 0;
}
.hap-selectize-thumb{
    display: block;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}
.hap-selectize-value{
    display: none;
}
.hap-selectize-text {
    margin-left: 10px;
    display: flex!important;
    flex-direction: column!important;
    align-items: flex-start!important;
}
.hap-selectize-title {
    font-size: 1em;
    font-weight: bold;
}
.hap-selectize-description {
    font-size: 0.8em; 
    color: gray;
    margin-top: 3px;
}
.ss-main .ss-single-selected{
    height: 55px!important;
}


/* variations */

.hap-audio-variations{
   display: none;
   position: relative;
   color: #ccc;
   margin-top: 10px;
   transition: height 0.5s;
   height: 0;
}
.hap-audio-variation{
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    margin-left: 50px;
}
.hap-audio-variation-title{
    flex:1;
    margin-right: 20px;
}
.hap-active-variation,
.hap-audio-variation:hover{
    color: #f44336;
}
.hap-audio-variation-opened{
    height:auto;
}






.hap-playlist-title-num{
    display: inline-flex;
}




.hap-playlist-overflow-y{
    overflow-y: auto;
}
.hap-playlist-overflow-x{
    overflow-x: auto;
}
.hap-playlist-inner::-webkit-scrollbar {
    width: 5px; 
    height: 5px; 
}
.hap-playlist-inner::-webkit-scrollbar-thumb {
    background: #999; 
}
.hap-playlist-inner::-webkit-scrollbar-track {
    background: #eee; 
}

.hap-ima-holder{
    display: none;
}


.hap-ad-skip{
    color: #fff;
    position: absolute;
    background: #2196f3;
    right: 0;
    top: 10px;
    cursor: pointer;
    transition: opacity .3s ease-out;
    padding: 5px;
    display: none;
}
.hap-ad-skip:hover{
    opacity: 0.9;
}


.hap-hidden{
    display: none!important;
}
.hap-measure{
    display: block!important;
    visibility: hidden!important;
    left: -10000!important;
    opacity: 0!important;
    pointer-events: none!important;
    height: auto!important;
}

.hap-playlist-closed-v{
    height: 0!important;
}



.hap-sortable-ghost{
    background: #9e9e9e;
}


.hap-holder-animate{
    display: block!important;
    margin-top: 100px;
    opacity: 0;
    transition: all 0.3s ease-out;
}
.hap-holder-shown{
    opacity: 1!important;
    margin-top: 0;
}



.hap-contr-btn svg,
.hap-contr-btn i,
.hap-contr-btn{
    user-select:none;
}